body {
	background-color: #D7D7D7;
	font-family: 'Helvetica', sans-serif;
}

div {
	background-color: #ffffff;
}

footer {
	text-align: center;
}

#mapid {
	height: 300px;
	width: 600px;
	border-style: dashed;
}
